@import "../../responsive.scss";

.aboutPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  height: 100vh;
  overflow-y: auto; 

  .top {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h1 {
      font-weight: 500;
    }
  }

  .bottom {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-weight: 500;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px; 

      @include sm {
        gap: 24px;
      }

      .about-dev-container {
        position: relative; 
        
        .shadow {
          position: absolute;
          top: 8px; 
          left: 8px; 
          width: 100%;
          height: 100%;
          background-color: #00050f; 
          border-radius: 10px; 
          z-index: -1; 
        }

        .about-dev {
          position: relative; 
          background-color: #f8f9f0; 
          border-radius: 10px; 
          width: 300px; 
          padding: 20px; 
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center; 
          transition: transform 0.3s ease, box-shadow 0.3s ease; 
          border: 1px solid #000; 
          overflow: hidden; 

          .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 120px; 
            background-size: cover;
            background-position: center;
            z-index: 1; 
          }

          .profile-image {
            width: 100px; 
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            border: 4px solid #f8f9f0; 
            margin-top: 60px; 
            z-index: 2; 
            position: relative; 
          }

          .content {
            z-index: 3; 
            margin-top: 10px;
            gap: 20px;
            margin-bottom: 10px;
            color: #333; 
          }

          .links {
            display: flex;
            gap: 10px;
            
            .icons {
                flex: 1;
            }
          }

          &:hover {
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}
