* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Overused Grotesk';
    src: url(client\src\assets\fonts\OverusedGrotesk-VF.woff2) format('woff2'),
         url(client\src\assets\fonts\OverusedGrotesk-VF.woff) format('woff'),
         url(client\src\assets\fonts\OverusedGrotesk-VF.ttf) fromat('truetype');


}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Overused Grotesk', sans-serif;
    overflow: hidden;
    background-color: #f8f9f0;
}

