@import '../../responsive.scss';

.homePage {
    height: 100%;

    .textContainer  {
        .wrapper {
            padding: 20px;
            // padding-right: 100px;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .title {
                font-size: 3rem;
                line-height: 1;
                font-weight: 400;

                @include md {
                    font-size: 1.875rem;
                    line-height: 2.25rem;
                }
            }
        }

    }
}