@import '../../responsive.scss';

.homePage {
    height: 100%;
    overflow: auto;

    .textContainer {
        .wrapper {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 3rem;

            .title {
                font-size: 3rem;
                line-height: 1;
                font-weight: 400;

                @include md {
                    font-size: 1.875rem;
                    line-height: 2.25rem;
                }
            }
        }
    }
    &::-webkit-scrollbar {
        width: 4px;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: #d7c0a1;
        border-radius: 500px;
    }

    .text-content {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1.5rem;

        .title {
            font-size: 3rem;
            line-height: 1;
            font-weight: 400;

            @include md {
                font-size: 1.875rem;
                line-height: 2.25rem;
            }
        }

        .text-links {
            font-size: 1rem;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            position: relative;
          
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #d7c0a1;
          
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 250ms ease-in;
          }
          
          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }
          
        }

        .icons {
            font-size: 0.75rem;
        }
    }
}
