@import '../../responsive.scss';

.card {
    display: flex;
    gap: 1.25rem;
    width: 100%;
    box-sizing: border-box; 

    @include md {
      flex-direction: column;
    }

    .imageContainer {
        flex: 2;
        height: 200px; 

        img {
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
            border-radius: 0.625rem;
        }
    }

    .textContainer {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        font-size: 1rem;

        .title {
            font-size: 1.25rem;
            font-weight: 600;
            color: #00050f;
        }

        .address {
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: #bcbfc2;
        }

        .price {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 500;
            padding: 0.25rem;
            border-radius: 0.25rem;
            width: max-content;

            .icon {
                font-size: 1rem;
            }

            .type {
                font-size: 0.75rem;
                font-weight: 300;
                margin-left: 0.5rem;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;

            .features {
                display: flex;
                gap: 1.25rem;
                font-size: 1rem;

                .feature {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    background-color: inherit;
                    padding: 0.25rem;
                }
            }

            .icon {
                border: none;
                padding: 2px 5px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #df6361;
                }
            }
        }

        .nav-links {
            position: relative;
            z-index: 1; 
            display: inline-block;
            overflow: hidden;
            padding: 0.5rem 1.25rem;
            border: solid 1.5px #d7c0a1;
            width: 100%;
            text-align: center;
            border-radius: 1000px;
            cursor: pointer;
        
            &:hover {
                color: #f8f9f0;
                font-weight: 500;
            }
        
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #d7c0a1;
                left: 0;
                bottom: -100%;
                border-radius: 50px; 
                transition: all ease-in 0.2s;
                z-index: -1; 
            }
        
            &:hover::after {
                bottom: 0;
                border-radius: 0;
            }
        }  
    }
}

.homeCard {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    box-sizing: border-box; 

    .imageContainer {
        height: 200px; 

        img {
            width: 100%; 
            height: 100%; 
            object-fit: cover; 
            border-radius: 0.625rem;
        }
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        font-size: 1rem;

        .title {
            font-size: 1.25rem;
            font-weight: 600;
            color: #00050f;
        }

        .address {
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            gap: 0.25rem;
            color: #bcbfc2;
        }

        .price {
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 500;
            padding: 0.25rem;
            border-radius: 0.25rem;
            width: max-content;

            .icon {
                font-size: 1rem;
            }

            .type {
                font-size: 0.75rem;
                font-weight: 300;
                margin-left: 0.5rem;
            }
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;

            .features {
                display: flex;
                gap: 1.25rem;
                font-size: 1rem;

                .feature {
                    display: flex;
                    align-items: center;
                    gap: 0.25rem;
                    background-color: inherit;
                    padding: 0.25rem;
                }
            }

            .icon {
                border: none;
                padding: 2px 5px;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    color: #df6361;
                }
            }
        }

        .nav-links {
            position: relative;
            z-index: 1; 
            display: inline-block;
            overflow: hidden;
            padding: 0.5rem 1.25rem;
            border: solid 1.5px #d7c0a1;
            width: 100%;
            text-align: center;
            border-radius: 1000px;
            cursor: pointer;
        
            &:hover {
                color: #f8f9f0;
                font-weight: 500;
            }
        
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: #d7c0a1;
                left: 0;
                bottom: -100%;
                border-radius: 50px; 
                transition: all ease-in 0.2s;
                z-index: -1; 
            }
        
            &:hover::after {
                bottom: 0;
                border-radius: 0;
            }
        }  
    }
}