@import "../../responsive.scss";

.listPage {
    display: flex;
    height: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    .listContainer {
        flex: 3;
        height: 100%;

        .wrapper {
            height: calc(100vh - 3rem);
            padding-right: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            overflow-y: auto;
            padding-bottom: 5rem;

            .breadcrumbs {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .text-links {
                    position: relative;
                    
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #d7c0a1;
                        transform: scaleX(0);
                        transform-origin: right;
                        transition: transform 250ms ease-in;
                    }
                    
                    &:hover::after {
                        transform: scaleX(1);
                        transform-origin: left;
                    }
                }
                .current-page {
                    font-weight: 600;
                    color: #00050f;
                }
            }
        }

        ::-webkit-scrollbar {
            width: 4px;
        }
          
        ::-webkit-scrollbar-thumb {
            background-color: #d7c0a1;
            border-radius: 500px;
        }
    }

    .mapContainer {
        flex: 2;
        padding: 0.5rem;
    }
}

.homePageStyle {
    display: flex;
    height: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    .listContainer {
        flex: 1;
        height: 100%;

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding-right: 0;

            .breadcrumbs {
                display: none;
            }
        }

        ::-webkit-scrollbar {
            width: 4px;
        }
          
        ::-webkit-scrollbar-thumb {
            background-color: #d7c0a1;
            border-radius: 500px;
        }
    }

    .mapContainer {
        display: none;
    }
}

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.homeCardsContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: space-between;
    overflow: hidden;

    @include md {
        flex-wrap: wrap;
    }
}