.layout {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }
      
    &::-webkit-scrollbar-thumb {
        background-color: #d7c0a1;
        border-radius: 500px;
    }
}

.content {
    flex: 1;
}