@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Overused Grotesk";
    src: url(./assets/fonts/OverusedGrotesk-VF.woff2) format('woff2');
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9f0;
}

.nav-links {
  font-family: 'Overused Grotesk';
  color: #00050f;
  padding: 0.625rem 1.25rem;
  border: 1px solid #00050f;
  position: relative;
  z-index: 1; 
  display: inline-block;
  overflow: hidden;
}

.nav-links:hover {
  color: #f8f9f0;
}

.nav-links::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00050f;
  left: 0;
  bottom: -100%;
  border-radius: 50px; 
  transition: all ease-in 0.3s;
  z-index: -1; 
}

.nav-links:hover::after {
  bottom: 0;
  border-radius: 0;
}
