@import '../../responsive.scss';

nav {
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .links {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;

            a {
                @include sm {
                    display: none;
                }
            }

            .text-links {
                position: relative;
              
              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: #d7c0a1;
              
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 250ms ease-in;
              }
              
              &:hover::after {
                transform: scaleX(1);
                transform-origin: left;
              }

            }

            @include lg {
                gap: 1rem;
            }
        }

        @include lg {
            gap: 1rem;
        }

    }
    .right {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0.5rem;

        a {
            @include sm {
                display: none;
            }
        }

        .user {
            display: flex;
            gap: 1rem;
            align-items: center;
            font-weight: 600;

            @include sm {
                span {
                    display: none;
                }
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 8px;
            }

            .nav-links {
                position: relative;
                z-index: 1; 
                display: inline-block;
                overflow: hidden;
                padding: 0.5rem 1.25rem;
                border: solid 1.5px #d7c0a1;
                border-radius: 1000px;
                cursor: pointer;
    
                @include sm {
                    display: none;
                }
              
                &:hover {
                  color: #f8f9f0;
                  font-weight: 500;
                }
              
                &::after {
                  content: "";
                  position: absolute;
                  height: 100%;
                  width: 100%;
                  background-color: #d7c0a1;
                  left: 0;
                  bottom: -100%;
                  border-radius: 50px; 
                  transition: all ease-in 0.2s;
                  z-index: -1; 
                }
              
                &:hover::after {
                  bottom: 0;
                  border-radius: 0;
                }
              }
        }

        .text-links {
            position: relative;
          
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: #d7c0a1;
          
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 250ms ease-in;
          }
          
          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }
          
        }

        .nav-links {
            position: relative;
            z-index: 1; 
            display: inline-block;
            overflow: hidden;
            padding: 0.5rem 1.25rem;
            border: solid 1.5px #d7c0a1;
            border-radius: 1000px;
            cursor: pointer;

            @include sm {
                display: none;
            }
          
            &:hover {
              color: #f8f9f0;
              font-weight: 500;
            }
          
            &::after {
              content: "";
              position: absolute;
              height: 100%;
              width: 100%;
              background-color: #d7c0a1;
              left: 0;
              bottom: -100%;
              border-radius: 50px; 
              transition: all ease-in 0.2s;
              z-index: -1; 
            }
          
            &:hover::after {
              bottom: 0;
              border-radius: 0;
            }
          }          

        @include lg {
            gap: 1rem;
        }

        .menu-icon {
            display: none;
            color: #d7c0a1;
            z-index: 1020;

            @include sm {
                display: inline;
            }
        }

        .menu {
            position: absolute;
            top: 0;
            right: -50%;
            background-color: #d7c0a1;
            color: #f8f9f0;
            height: 100vh;
            width: 50%;
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 2rem;
            gap: 1.5rem;
            z-index: 1000;

            &.active {
                right: 0;
            }

            @include sm {
                a {
                    z-index: 1005;
                    display: initial;
                }
            }
        }
    }
}

img {
    height: 3.5rem;
    display: inline-flex;
}